@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine;

<h4>Add new Cuisine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <br/>
  <input type="submit" value="Submit" class="btn btn-primary" />
}

<br/>
<p>@Html.ActionLink("Back to Cuisines", "Index")</p>