@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine;

<h2>Are you sure you want to remove this cuisine?</h2>

@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)

@using (Html.BeginForm())
{
  <br/>
  <input type="submit" value="Delete" class="btn btn-danger"/>
}

<br/>
<p>@Html.ActionLink("Back to Cuisine", "Details", new { id = Model.CuisineId})</p>