@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant;

<h2>Are you sure you want to remove this restaurant?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)

@using (Html.BeginForm())
{
  <br/>
  <input type="submit" value="Delete" class="btn btn-danger"/>
}

<br/>
@* /Restaurants/Details/{id} *@
<p>@Html.ActionLink("Back to Restaurant", "Details", new {id = Model.RestaurantId })</p>
